

h1{
    color: rgb(197, 0, 252); 
    text-align: center;
}

body{
    background: #f5e1e1;
    color: rgb(9, 9, 12);
    font-family: "Montserrat Alternates", serif;
}

a{
    color: rgb(172, 76, 241);
    
}

.blue_button{
    color: blue;
    background-color: aliceblue;
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    border: 3px solid rgb(203, 12, 9);
    border-radius: 10px;
    transition: 0.3s;
}

.blue_button:hover{
    color: black;
    background: #ee0707;
}
nav{
    background: #04dffc;
}
/* .carousel-inner{  */
    


.navbar-brand{
    color: rgb(164, 28, 5); 
}
.card{
    color: rgb(10, 0, 12);
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    gap: 10px;
    background-color: #f6fec9;

}


/* .my_head{
    margin-top: 0px !important; 
} */    


.carousel{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    max-height :450px; 
    overflow: hidden;
}
.items{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    gap: 10px;
   

   
}
h3{
    color: #790202;
     

}
.btn btn_primary{
    color: #fd0303;
    background-color: #e340f1;
}
