
    {% extends 'base.html' %}
    {% block content %}
    <main class="container">
     
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{url_for('static', filename = 'img/eugene-chystiakov-M0NlTsYBV_Q-unsplash.jpg')}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{url_for('static', filename = 'img/andrew-varnum-MzC42_webGo-unsplash.jpg')}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{url_for('static', filename = 'img/onur-binay-auf3GwpVaOM-unsplash.jpg')}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          <h3 class="my-5 text-center">
            Товари
          </h3>

          

          <section>
            
            <div class="items">

            {% for id,name,description,price,category_id,image in items  %}
              
             {% include 'card_item.html' %}
            {% endfor %}
          </div>

   
          </section>

    </main>
    {% endblock content %}